p { margin : 0; }

#topBar{
/*	background-color: #52595B;
*/	background 		: white;
	height 			: 10vh;
	width 			: 100vw;
	position 		: fixed;
	top 			: 0px;
}

#map{
	height 			: 100%;
}

#centerBar{
/*	background-color: #ffff99;
*/	position 		: absolute;
	top 			: 10vh;
	height 			: 80vh;
	width 			: 100%;
}

#bottomBar{
	background-color: #52595B;
	height 			: 10vh;
	width 			: 100vw;
/*	min-height 		: 40px; 
*/	position: fixed;
	bottom 	: 0px;
}

